<div class="navbar-global">
   <h1 id="navbar-title"> <i>Atelier "La Ronde de Nuit"</i></h1>
   <h2 id="navbar-description">Restauration et Conservation de peintures anciennes</h2>
   <ul>
      <%= link_to "Accueil", accueil_path%>
      <%= link_to "L'Atelier", atelier_path %>
      <%= link_to "Prestations", prestations_path %>
      <%= link_to "Galerie", galerie_path %>
      <%= link_to "Contact", contact_path %>
   </ul>
   <div class="trait_dessus"></div>
</div>
