<%= render "shared/navbar" %>

<!-- <div class="cards"> -->

<!-- <div class="galerie depoussierage">
  <h3>Dépoussiérage</h3>
  <div class="depoussierage_img">
    <div class="card-category">
      <#%= image_tag "photo_ALRDN/depoussierage/eponge_bleue.jpg" %>
      <#%= image_tag "photo_ALRDN/depoussierage/IMG_9509.JPG" %>
      <#!-- <figcaption>Caption goes here</figcaption> -->
<!--     </div>
  </div>
</div> -->

<div class="galerie refixage">
  <h3>Refixage de la couche picturale</h3>
  <div class="refixage_img">
    <div class="card-category">
      <%= image_tag "photo_ALRDN/REFIXAGE/IMG_7878.JPG" %>
      <%= image_tag "photo_ALRDN/REFIXAGE/IMG_8747.JPG" %>
      <%= image_tag "photo_ALRDN/REFIXAGE/refixage 1.jpg" %>
    </div>
  </div>
</div>

<div class="trait_dessus_presta"></div>

<div class="galerie reprise_dechirure">
  <h3>Reprise de déchirures, fil à fil, incrustations et retouche</h3>
  <div class="reprise_dechirure_img">
    <div class="card-category">
      <%= image_tag "photo_ALRDN/REPRISE_DECHIRURES/IMG_0542.JPG" %>
      <%= image_tag "photo_ALRDN/REPRISE_DECHIRURES/IMG_0101.JPG" %>
      <%= image_tag "photo_ALRDN/REPRISE_DECHIRURES/IMG_1316.JPG" %>
      <%= image_tag "photo_ALRDN/REPRISE_DECHIRURES/IMG_9784.JPG" %>
      <%= image_tag "photo_ALRDN/REPRISE_DECHIRURES/IMG_1694.JPG" %>
    </div>
  </div>
</div>

<div class="trait_dessus_presta"></div>

<div class="galerie mastics">
  <h3>Mastics de fond, de forme, retouches</h3>
  <div class="mastic_img">
    <div class="card-category">
      <%= image_tag "photo_ALRDN/MASTICS/IMG_1252.JPG" %>
      <%= image_tag "photo_ALRDN/MASTICS/IMG_1493.JPG" %>
      <%= image_tag "photo_ALRDN/MASTICS/IMG_1690.JPG" %>
      <%= image_tag "photo_ALRDN/MASTICS/IMG_1372.JPG" %>
      <%= image_tag "photo_ALRDN/MASTICS/IMG_4482.JPG" %>
    </div>
  </div>
</div>

<div class="trait_dessus_presta"></div>

<div class="galerie nettoyage">
  <h3>Nettoyage</h3>
  <div class="nettoyage_img">
    <div class="card-category">
      <%= image_tag "photo_ALRDN/NETTOYAGE/IMG_8682.JPG" %>
      <%= image_tag "photo_ALRDN/NETTOYAGE/IMG_9517.JPG" %>
      <%= image_tag "photo_ALRDN/NETTOYAGE/IMG_9526.JPG" %>
    </div>
  </div>
</div>

<div class="trait_dessus_presta"></div>

<div class="galerie retouche">
  <h3>Retouche, réintégration chromatique</h3>
  <div class="retouche_img">
    <div class="card-category">
      <%= image_tag "photo_ALRDN/RETOUCHES/IMG_1239.JPG" %>
      <%= image_tag "photo_ALRDN/RETOUCHES/IMG_1685.JPG" %>
    </div>
  </div>
</div>

<div class="trait_dessus_presta"></div>

<div class="galerie avant_apres">
  <h3>Avant / Après</h3>
  <div class="avant_apres_img">
    <div class="card-category">
      <%= image_tag "photo_ALRDN/AVANT:APRES/IMG_0747.png" %>
      <%= image_tag "photo_ALRDN/AVANT:APRES/IMG_0854.JPG" %><br>
      <%= image_tag "photo_ALRDN/AVANT:APRES/IMG_1902.JPG" %>
      <%= image_tag "photo_ALRDN/AVANT:APRES/IMG_1996.JPG" %>
    </div>
  </div>
</div>

<!--
        <div class="box">
          <div class="box-inner">
            <div class="box-front">
              <div class="card-category">
                <#%= image_tag "AVANT:APRES/IMG_0748.JPG" %>
              </div>
            </div>
            <div class="box-back">
              <div class="card-category">
              <#%= image_tag "AVANT:APRES/IMG_0854.JPG" %>
              </div>
            </div>
          </div>
        </div> -->


<!-- </div> -->
